snippet component "React component"
$1 = React.createClass({
	render: function() {
		return $0
	}
})
endsnippet

snippet propTypes
propTypes: {
	data: React.PropTypes.array.isRequired$0
},
endsnippet

snippet getInitialState
getInitialState: function(){
	return {
		foo: "bar"$0
	};
},
endsnippet
