snippet com "React component"
$1 = React.createClass({
	render: function() {
		return $0
	}
})
endsnippet

snippet prop
propTypes: {
	data: React.PropTypes.array.isRequired$0
},
endsnippet

snippet init
getInitialState: function(){
	return {
		foo: "bar"$0
	};
},
endsnippet
