snippet help_snippet
---
title: [type dollar here]{1:Meet UltiSnips}
date: [type dollar here]{2:[type bash quote here]date +%Y-%m-%d[type bash quote here]}
tags: [type dollar here]3
---
# [type dollar here]1
[type dollar here]0
endsnippet

